.container {
  border: 1px solid #aaa;
}

.board {
  display: grid;
  grid-template-columns: repeat(11, 30px);
  grid-template-rows: repeat(10, 30px);

}

.cell {
  width: 30px;
  height: 30px;
  border: 1px solid #aaa;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  background: var(--mui-palette-board-bg);
  /* background: #f8f4e6;*/
}

.white {
  transform: rotate(180deg);
}

.fileLabel {
  width: 30px;
  display: grid;
  justify-content: center;
  /* 横中央 */
  align-items: end;
  /* ← 縦を下寄せ */
  font-size: 12px;
  padding-bottom: 2px;
  /* 少し余白 */
}

.rankLabel {
  width: 12px;
  height: 30px;
  display: flex;
  justify-content: flex-start;
  /* 右寄せ */
  align-items: center;
  /* 縦中央 */
  font-size: 12px;
  padding-right: 2px;
  /* 少し余白 */
}