.container {
    border: 1px solid #aaa;
}

.board {
    display: grid;
    grid-template-columns: 20px repeat(9, 35px) 20px;
    grid-template-rows: 12px repeat(9, 35px) 12px;
    font-size: 28px;

}

/* ** cell ** */
.cell {
    border: 1px solid #aaa;
    display: flex;
    align-items: center;
    justify-content: center;
    
    background: var(--mui-palette-board-bg);
    cursor: default;
    /* background: #f8f4e6;*/
}

.flash {
    outline: 2px solid rgba(255, 200, 0, 0.9);
    outline-offset: -2px;
    transition: outline 0.1s ease;
}

.rotated {
    transform: rotate(180deg);
}

.selected {
    border: 2px solid #ccc;
    background-color: #ccc;
}

.lastTo {
    outline: 2px solid rgba(255, 80, 80, 0.9);
    outline-offset: -2px;
}
.lastFrom {
    outline: 2px solid rgba(255, 80, 80, 0.4);
    outline-offset: -2px;
}

/*  label */
.fileLabel {
    display: grid;
    font-size: 8px;
}

.rankLabel {
    display: grid;
    align-items: center;
    font-size: 8px;

    /* 少し余白 */
}

.handpiece {
    font-size: 20px; 
}

.flashBoard {
    background-color: "error.main";
    opacity: 0.2;
    transition: "opacity 150ms ease";
    pointer-events: "none";

}