.container {
  border: 1px solid #aaa;
}

.board {
  display: grid;
  grid-template-columns: 20px repeat(9, 35px) 20px;
  grid-template-rows: 20px repeat(9, 35px);

}

.cell {
  border: 1px solid #aaa;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 28px;
  background: var(--mui-palette-board-bg);
  /* background: #f8f4e6;*/
}

.rotated {
  transform: rotate(180deg);
}
.selected {
  border: 2px solid #ccc;
  background-color:#ccc;  
}
.fileLabel {
  display: grid;
  font-size: 12px;
}

.rankLabel {
  display: grid;
  align-items: center;
  font-size: 12px;

  /* 少し余白 */
}
.handpiece {
  font-size: 20px;
}

.handpieceBlack { 
  font-size: 22px;
}